
<div  class="container center">
    <div class="row">
      <div class=col-3></div>
<div class="col-3">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmq-AbsLsXFL5o8JYiuTmxRhfO4BdG9hPqaA&usqp=CAU"
 alt="ewre">
</div>
<div class="col-3">
  <ul class="nav nav-tabs" >
    <li class="nav-item">
      <a [ngClass]="{'nav-link active':h,'nav-link':!h} "  (click)="h=!h; status='interns'">interns</a>
    </li>
    <li  class="nav-item">
      <a [ngClass]="{'nav-link active':!h,'nav-link':h}"(click)="h=!h;  status='supervisors'">supervisors</a>
    </li>
  </ul>
 <h4>welcome, {{status}}</h4>
 <p>
   lorem ipsom dolor sit amet,
   consectetur adipiscing elit.integer at
   pellentsque nisl.
 </p>
  <input class="btn btn-primary" type="butten" routerLink="sign-in" value="REGISTER NOW">
  
</div>



