
<div  class="container center">
    <div class="row">
<div class="col-4">
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fblogs.icrc.org%2Filot%2Fhe%2F2019%2F05%2F04%2F14620%2F&psig=AOvVaw1mmKJqie
dXXAesoxgU82Sm&ust=1621001263612000&source=images&cd=vfe&ved=2ahUKEwj9xKC16sbwAhVS8hQKHSGIAbUQjRx6BAgAEAc" alt="ewre">
</div>

<ul class="nav nav-tabs" >
  <li class="nav-item">
    <a [ngClass]="{'nav-link active':h,'nav-link':!h} "  (click)="h=!h">Active</a>
  </li>
  <li  class="nav-item">
    <a [ngClass]="{'nav-link active':!h,'nav-link':h}"(click)="h=!h">Link</a>
  </li>
  
</ul>
<input type="butten" routerLink="sign-in" value="REGISTER NOW">
</div>
</div>
