<div class='row center bg-liget' >
    <div class='col-2'></div>
    <div class='col'>
        <div>
            <h3>thank you,{{signInService.intern.fullName}}</h3>
        </div>
        <div>
            <mat-icon style="color:#95c48e;font-size: 50px;display:inline ; ">done</mat-icon>
            <h3 style='display:inline;'>your user has been successfully created</h3>
        </div>
        <br>
        <br>
        <br>
        

        <div>
            <p> in order to fit the simulator you need to have a short questionnaire </p> 
            
        </div>
          <br>
          <br>
          <button class="btn btn-primary " routerLink='Questionnaire2' >let's start</button>

    </div>
   
</div>

