<div class='row center' >
    <div class='col-2'></div>
    <div class='col-5'>
        <div>
            <h3>{{user.fullName}},please look straight at the</h3>
        </div>
        <div>
            <h3>camera so we can spot you</h3>
        </div>
        <div>
            <p>you will automaticlally be taken to the next step as </p> 
            <p> soon as you take a pictuer</p>
        </div>
    </div>
    <div class='col-5'>
         <div style="background-color: blue;  width: 200px;height: 300px;"></div>
    </div>
</div>
<br>
<br>
<button class="btn btn-primary" style="margin:20px;" (click)=next()>continue</button>

