<div class="row container bg-light border ">
    <div class="col-4 p-2" *ngIf='academics[1]'>
        <label for="academic">CHOISE ACADEMIC</label>
        <select name="academic" id="academic" class='form-control form-select' [(ngModel)]='academic'
            (change)='getInterns(); getClasses();  clear() '>
            <option *ngFor="let academic of academics">{{academic.name}}</option>
        </select>
    </div>
    <div class="col-3" *ngIf='!academics[1]'>
        <h3>ACADEMIC: <div>{{academics[0].name}}</div>
        </h3>
    </div>
    <div class="col-3 p-2" *ngIf='classes[0] && !CreateNewClass'>
        <label for="classes">CHOISE CLASS</label>
        <select name="classes" id="classes" class='form-control form-select' [(ngModel)]='class'
            (change)='getInternsOfClass()'>
            <option selected>all interns of academic</option>
            <option *ngFor="let class of classes">{{class.name}}</option>
        </select>
    </div>

    <div class="row col-4 m-3 " style="float: right" *ngIf='!CreateNewClass && !createTest'>
        <div class=col-6>
            <button class="btn btn-primary" (click)='CreateNewClass=!CreateNewClass; clear();getInterns()'>new
                class</button>
        </div>
        <div class=col-6 *ngIf='!createTest && class'>
            <button class="btn btn-primary" (click)='createTest=!createTest'>new test</button>
        </div>
    </div>

    <div class="row col-8" *ngIf=CreateNewClass>
        <div class="col-6">
            <label for="nameNewClass">name new class</label>
            <div *ngIf='classNameExists'>class name exists</div>
            <input name="nameNewClass" class="form-control form-control-sm " type="text" placeholder="name New Class"
                (change)='checkClassNameExists()' [(ngModel)]="nameNewClass">
        </div>
        <div class="row col-6 mt-3">
            <div class=col-6>
                <button class="btn btn-success" (click)='CreateNewClass=!CreateNewClass; createClass()'
                    [disabled]='!nameNewClass || !table.newClass[0] || classNameExists '>create class</button>
            </div>
            <div class=col-6>
                <button class="btn btn-danger ml-1" (click)='CreateNewClass=!CreateNewClass; '>cansel</button>
            </div>
        </div>

    </div>
    <div  *ngIf='createTest'>
        <div class="row mt-3">
       
            <div class=col-4>
                <button class="btn btn-danger ml-1" (click)='createTest=!createTest;'>cansel</button>
            </div>
        </div>

    </div>
</div>
<div *ngIf='createTest'>
    <app-create-test  [_idClass]='_idClass' (create)="notCreateTest($event)"></app-create-test>
</div>

<div class="row m" *ngIf="interns[0]">
    <div class='col-5'>

        <table class=" table  table-bordered">
            <thead>
                <tr>
                    <th class="col-4">NAME</th>
                    <th class="col-4">ID</th>
                    <th class="col-4"></th>
                </tr>
            </thead>
        </table>
        <table class=" table  table-bordered">
            <tbody>
                <div *ngFor="let intern of interns">          
                        <app-table class='row' [obj]=intern [createClass]='CreateNewClass'></app-table>
                </div>
            </tbody>

        </table>
    </div>

    <table class="col-6 ml-4 col-5 table  table-bordered">
        <thead>
            <tr>
                <th class=''>test name</th>
                <th class=''>subject</th>
                <th class=''>date</th>
               
            </tr>
        </thead>
        <tbody >
            <ng-container *ngFor='let test of tests'>
                <tr >
                    <td>{{test.testName}}</td>
                    <td>{{test.subject}}</td>
                    <td>{{test.date | date }}</td>
                    <td><button class="btn btn-primary "  >Download</button></td>
                    <td ><mat-icon  (click)='test.k=!test.k' *ngIf='!test.k'>expand_more</mat-icon><mat-icon (click)='test.k=!test.k' *ngIf='test.k'>expand_less</mat-icon></td>
                </tr>
                <ng-container *ngIf='test.k'>
                    <tr>
                        <th>name</th>
                        <th>id</th>
                        <th>score</th>
                        <th></th>
                    </tr>
                    <tr  *ngFor='let test of test.backTest'>
                        <td>{{test.name}}</td>
                        <td>{{test.id}}</td>
                        <td>{{test.score}}</td>
                        <td><button class="btn btn-warning" >check</button></td>
                    </tr>
                </ng-container>

            </ng-container>
        </tbody>
    </table>

</div>




