<div class ="container">
    <form >
    <div class ="row">
    <div class="col-4">
        <label for="idnumber">ID NUMBER</label>
        <input id="idnumber" class="form-control form-control-sm " type="text" placeholder="ID NUMBER ">
    </div>
    
    <div class="col-4">
        <label for="fullname">full name</label>
        <input id="fullname" class="form-control form-control-sm " type="text" placeholder="full name ">
    </div>
    
    <div class="col-4">
        <label for="passport">passport</label>
        <input id="passport" class="form-control form-control-sm " type="text" placeholder="passport">
    </div>
   
    <div class="col-4">
        <label for="tel">tel</label>
        <input id="tel" class="form-control form-control-sm " type="number" placeholder="tel">
    </div>
    
   
</div>
</form>
</div>