<div class ="container">
    <form #ngForm='ngForm' (ngSubmit)='onSubmit()' >
    <div class ="row">
    <div class="col-4">
        <label for="idnumber">ID NUMBER</label>
        <input name="idnumber" class="form-control form-control-sm " type="text" placeholder="ID NUMBER " [(ngModel)]='intern.id' required>
    </div>
    
    <div class="col-4">
        <label for="fullname">full name</label>
        <input name="fullname" class="form-control form-control-sm " type="text" placeholder="full name " [(ngModel)]="intern.fullName" required>
    </div>
    
    <div class="col-4">
        <label for="passport">passport</label>
        <input name="passport" class="form-control form-control-sm " type="text" placeholder="passport"  [(ngModel)]="intern.passport" required>
    </div>
   
    <div class="col-4">
        <label for="tel">tel</label>
        <input name="tel" class="form-control form-control-sm " type="number" placeholder="tel"  [(ngModel)]="intern.tel" required  >
    </div>
    <div>
        <input class="btn btn-primary" type="submit"  value="continunp" [disabled]='!ngForm.valid' >
    </div>
  
</div>
</form>
</div>