<div id="body">
    <div>
        <H3>hi  {{  intern.fullName}}!</H3>
        <p>please type the mobile verifind code you recevied</p>
    </div>
    
    <div >
        <input [ngClass]="{'red':red,'green':green}" type="text" name="number1" id="number1" maxlength="1" [(ngModel)]="code[0]" (keyup)='chekc($event)' autofocus>
        <input [ngClass]="{'red':red,'green':green}" type="text" name="number2" id="number2" maxlength="1" [(ngModel)]="code[1]"(keyup)='chekc($event)'>
        <input [ngClass]="{'red':red,'green':green}" type="text" name="number3" id="number3" maxlength="1" [(ngModel)]="code[2]"(keyup)='chekc($event)'>
        <input [ngClass]="{'red':red,'green':green}" type="text" name="number4" id="number4" maxlength="1" [(ngModel)]="code[3]"(keyup)='chekc($event)'>
        
    </div>
    
    <button class="btn btn-primary" style="margin:20px;">conttinue</button>
</div>
